<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timer</title>
    <link rel="stylesheet" href="/stylesheets/timer.css" />
  </head>

  <body>
    <div>
      <p class="title">Realtime Age</p>
    </div>
    <div class="container">
      <p class="age"></p>
    </div>
  </body>
  <script>
    var age = <%=age%>;
    var realtimeAge = age;
    const Y = 365;
    const H = Y*24;
    const M = H*60;
    const S = M*60;
    const MS = S*1000;
    (function(){
      var now = new Date();
      var start = new Date(now.getFullYear(), 0, 0);
      var diff = (now - start) + ((start.getTimezoneOffset() - now.getTimezoneOffset()) * 60 * 1000);
      var oneDay = 1000 * 60 * 60 * 24;
      var day = Math.floor(diff / oneDay);
      realtimeAge += day/Y + now.getHours()/H + now.getMinutes()/M + now.getSeconds()/S+ now.getMilliseconds()/MS;
    })()


    var intervalId = window.setInterval(function(){
      realtimeAge+= 50/MS;
      document.querySelector(".age").innerText = realtimeAge
    }, 50);
  </script>
</html>
